In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/mdsatria/dataviz_course/master/dataset/uk_bank.csv')

In [3]:
df.head(3)

,Customer ID,Name,Surname,Gender,Age,Region,Job Classification,Date Joined,Balance
0,100000001,Simon,Walsh,Male,21,England,White Collar,05.Jan.15,113810.15
1,400000002,Jasmine,Miller,Female,34,Northern Ireland,Blue Collar,06.Jan.15,36919.73
2,100000003,Liam,Brown,Male,46,England,White Collar,07.Jan.15,101536.83

Tugas Anda adalah mengeksplorasi data tersebut, berikan informasi (terbatas pada perbandingan antar kategori dan *part to whole*) yang terdapat dalam data tersebut dalam bentuk visualisasi. Tahapan yang harus ada :

    1. Preprocessing (cleaning, missing value removal)
    2. Merumuskan pertanyaan minimal 5
    3. Menjawab pertanyaan dalam visualisasi
    4. Menceritakan visualisasi

Project I ini akan dinilai dengan komponen sebagai berikut :

<img src='https://raw.githubusercontent.com/mdsatria/dataviz_course/master/notebook/img/project1.png'>

# Selamat Bekerja !